blog_service_profile_blog:
    resource: "@BlogServiceBundle/Resources/config/routing/blog.yml"
    prefix:   /profile/blog

blog_service_home:
    path:     /
    defaults: { _controller: BlogServiceBundle:Main:index }

blog_service_page:
    path:      /page/{name}
    defaults: { _controller: BlogServiceBundle:Main:page }

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"
