{% extends 'BlogServiceBundle:Layout:base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content -%}
    <h1>Новая запись в блоге</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-success" name="form[submit]">Сохранить запись</button>
        <a class="btn btn-default" href="{{ path('profile_blog') }}">Вернуться к списку</a>
    </div>

    {{ form_end(form) }}
{% endblock %}
