{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <div class="col-lg-6 col-md-push-3">
    {{ form_widget(form) }}
        <div class="row">
            <input type="submit" class="btn btn-block btn-success btn-large" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </div>
</form>
